.project-details-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 51px);

	input {
		max-width: 150px;
		text-align: center;
		margin-top: 15px;

		&:focus {
			border: 1px solid var(--blue-color);
		}
	}

	p {
		cursor: pointer;
		display: inline-flex;

		&:hover img {
			opacity: 1;

			@media (prefers-color-scheme: dark) {
				opacity: 0.3;
			}
		}

		img {
			margin-top: 2px;
			margin-left: 3px;
			opacity: 0.7;

			@media (prefers-color-scheme: dark) {
				opacity: 0.2;
			}
		}

		span {
			display: contents;
		}
	}
}

.project-details-icon {
	width: 80px;
	margin-top: auto;
	padding-top: 45px;
}

.project-details-path {
	white-space: nowrap;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 15px;
}

.project-details-openIn {
	margin-top: 10px;
	margin-bottom: auto;
}

.project-details-useFinder {
	margin-bottom: 15px;
}
