// Disable Select
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
	-webkit-user-select: none;
	user-select: none;
}

// Disable Scrollbar
::-webkit-scrollbar {
	display: none;
}

//Colors
$black: #1d1d22;

// Light Theme
:root {
	--blue-color: #3786fe;
	--main-bg-color: white;
	--secondary-bg-color: #e7eefc;
	--hover-bg-color: #edf0f8;
	--main-font-color: #{lighten($black, 40)};
	--main-font-color-hover: #{lighten($black, 25)};
	--secondary-font-color: #{lighten($black, 15)};
}

// Dark Theme
@media (prefers-color-scheme: dark) {
	:root {
		--main-bg-color: #{$black};
		--secondary-bg-color: #{darken($black, 2)};
		--hover-bg-color: #{lighten($black, 3)};
		--main-font-color: #{lighten($black, 30)};
		--secondary-font-color: #{lighten($black, 80)};
	}
}

//No Margin
html,
body,
h1,
p,
a,
input {
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 14px;
	color: var(--secondary-font-color);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 200px;
}

//Body
body {
	font-family: system-ui, -apple-system, 'Helvetica Neue', sans-serif;
	background-color: var(--main-bg-color);
	-webkit-font-smoothing: antialiased;
	color: var(--main-font-color);
	height: 100vh;
	box-sizing: border-box;
	line-height: 1.5;
	font-size: 14px;
}

//General
a {
	outline: 0;
	font-weight: bold;
	color: var(--blue-color);
	text-decoration: none;
}

//App
#app {
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100vh;
	position: relative;
}

//Drag Over
.drag {
	border: solid 2px var(--blue-color);

	.get-started-image {
		display: none;
	}

	.get-started-image-drag {
		display: block;
	}

	.project:hover {
		background-color: transparent;
	}
}

//Settings
.settings,
.close {
	cursor: pointer;
	position: fixed;
	top: 12px;
	right: 12px;
	opacity: 0.7;

	&:hover {
		opacity: 1;
	}
}

//Footer
footer {
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	width: 100%;
	background-color: var(--secondary-bg-color);
	border-right: 2px solid var(--secondary-bg-color);
	border-left: 2px solid var(--secondary-bg-color);
	border-bottom: 2px solid var(--secondary-bg-color);
	padding: 14px 18px;

	span {
		margin-left: auto;
	}
}

//Inputs
input {
	font: inherit;
	font-size: inherit;
	color: var(--secondary-font-color);
	border: 0;
	background-color: transparent;
	padding: 5px 8px;
	box-sizing: border-box;
	border: 1px solid transparent;
	border-radius: 6px;
	width: auto;
	display: inline;
	outline: none;

	&::placeholder {
		font: inherit;
		font-size: inherit;
		color: var(--main-font-color);
	}
}

.drag {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 9999;
	border-radius: 10px;
}
