.projects {
	width: 100%;
	display: inline-block;
	margin-bottom: 51px;
}

.project {
	cursor: pointer;
	display: flex;
	padding: 10px 14px;
	align-items: center;

	&:hover {
		background-color: var(--hover-bg-color);
	}

	img {
		width: 40px;
		margin-right: 14px;
	}
}

.projects-search {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-between;
	margin: 14px 14px;

	input {
		padding-left: 26px;
		padding-right: 30px;
		width: 100%;
		background-color: var(--hover-bg-color);
	}

	.settings {
		position: unset;
		margin-left: 15px;
	}
}

.project-search-icon {
	transform: translateY(-50%);
	position: absolute;
	width: 14px;
	left: 8px;
	top: 50%;
	opacity: 0.5;

	@media (prefers-color-scheme: dark) {
		opacity: 0.8;
	}
}

.projects-search-reset {
	cursor: pointer;
	position: absolute;
	right: 44px;
	fill: var(--main-font-color);
	opacity: 0.5;
	padding: 4px;

	&:hover {
		opacity: 1;
	}

	&.hidden {
		display: none;
	}
}

hr {
	height: 2px;
	background-color: var(--main-font-color);
	border: 0;
	margin: 0;
	opacity: 0.1;
}
