.projects {
	width: 100%;
	display: inline-block;
	margin-bottom: 51px;
}

.project {
	cursor: pointer;
	display: flex;
	padding: 10px 14px;
	align-items: center;

	&:hover {
		background-color: var(--hover-bg-color);
	}

	img {
		width: 40px;
		margin-right: 14px;
	}
}

.projects-search {
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 14px 10px 10px 14px;
	background-color: var(--main-bg-color);

	input {
		flex: 1;
		height: 34px;
		padding: 0 5px;
		margin-bottom: 2px;
	}

	.settings {
		position: unset;
		margin-left: 10px;
	}
}

.projects-search-input-wrapper {
	display: flex;
	align-items: center;
	background-color: var(--hover-bg-color);
	border-radius: 5px;
	flex: 1;
	padding: 0 8px;
}

.projects-search-reset {
	cursor: pointer;
	fill: var(--main-font-color);
	opacity: 0.7;

	&:hover {
		opacity: 1;
	}

	&.hidden {
		display: none;
	}
}

.sortable-ghost {
	.project-info,
	img {
		opacity: 0;
	}
}

.no-results {
	font-size: 16px;
	margin-left: 18px;
}
