.project-info {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.project-info {
   flex: auto;

   p {
      cursor: pointer;
   }
}

.project-save {
   flex-basis: 60px;
}

.project-icon {
   width: 90px;
   margin: 0 auto 10px;
}

.project-app {
   p {
      display: inline-flex;
      align-items: center;

      &:hover img {
         opacity: 0.8;
      }
   }

   img {
      margin-top: 2px;
      margin-left: 3px;
      opacity: 0.5;
   }
}
