error {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 8000;
   background-color: $black-lighter;
   display: flex;
   flex-direction: column;

   a {
      color: white;
      display: block;
      background-color: $red;
      padding: 10px 0;
   }
}

.error-data {
   flex: auto;
   padding: 30px 50px 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
