projects {
   width: 100%;

   span {
      color: $grey;
      margin-left: auto;
      margin-right: 15px;
   }

   a {
      margin-left: 15px;
   }
}

.projects {
   width: 100%;
   margin-bottom: 50px;
}

.project {
   cursor: pointer;
   display: flex;
   padding: 18px;
   box-sizing: border-box;

   &:hover {
      background-color: $black-lighter;
   }
}

.project-data {
   text-align: left;
   margin-left: 18px;
   padding-top: 4px;

   p {
      white-space: nowrap;
      margin: 0;
   }
}

.project-image {
   height: 50px;
   width: 50px;
   display: flex;

   img {
      width: 100%;
      object-fit: contain;
   }
}
